#root {
  max-width: 100%;
  color: rgb(251, 252, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(124, 18, 223);
  height:100%;
}
.main-menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.main-menu li{
  margin: 45px;
  background-color: rgb(124, 18, 223)
}
.footer{
   text-align:center;
   height: 150px;
}
a{
  color:rgb(29, 1, 38);
  font-size: 30px;
}

a:visited{
  color: white;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card{
  margin: 15px ;
}
.form {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

textarea{
  width: 100%;
}
/* .h2.main.name{
  color: rgb(29, 1, 38);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
/* .h2{
  text-align:center;
  background-color: 
}



/* .btn {
  border: none;
  background-color: rgb(251, 252, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(57, 96%, 39%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
} */
/* .btn:hover {
  border-color: #f6ee04;
} */

