#root {
  max-width: 100%;
  color: rgb(251, 252, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(124, 18, 223) 
}
.main-menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main-menu li{
  margin: 15px;
  background-color: hsl(300, 43%, 99%);
}
.h2.main.name{
  color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}
.footer{
   text-align:center;
   height: 150px;
}
.h2{
  text-align:center;
  background-color:
  height: 150px;
}
.h1{
  text-align:left;
  background-color:
  height: 150px;
.a{
  color:rgb(124, 18, 223)
  height: 50px;
}



/* .btn {
  border: none;
  background-color: rgb(251, 252, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(57, 96%, 39%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
} */
